Prasanna Hegde  
422985

Here, we combine [dataset_B]  and the [dataset_A : Train]

In [6]:
import pandas as pd

df_B = pd.read_csv('df_B.csv', encoding='utf-8')

In [7]:
df_B.head()

,German,French
0,"Ich bin froh, dass ich einen guten Arbeitsplat...",Je suis heureux d'avoir trouvé un bon emploi a...
1,Der Lehrer erklärt die Materie sehr gut und ma...,L'enseignant explique la matière très bien et ...
2,Meine Freunde und ich unterstützen uns gegense...,Mes amis et moi nous soutenons mutuellement da...
3,"Wenn ich auf Reisen bin, probiere ich immer di...","Quand je suis en voyage, j'essaie toujours la ..."
4,"Am Ende zählt nicht nur der Erfolg, sondern au...","À la fin, ce ne sont pas seulement les succès ..."

In [9]:
df_A = pd.read_csv("selected_pairs1.csv", encoding='utf-8')

In [12]:
from sklearn.model_selection import train_test_split

train_A, test_A = train_test_split(df_A, test_size=0.2, random_state=42)
print(f"items in training and test test are: {len(train_A)} and  {len(test_A)}")

items in training and test test are: 800 and  200

In [ ]:
df_C = pd.concat([train_A, df_B], ignore_index=True)  # concat dataset B and train_A

In [18]:
df_C.shape

(2800, 2)

In [19]:
df_C = df_C.sample(frac=1, random_state=42).reset_index(drop=True) #frac means fraction: 1 implies complete dataset is shuffled

In [20]:
df_C.head()

,German,French
0,Meine Freundin arbeitet im Büro und ich besuch...,Ma petite amie travaille au bureau et je la vi...
1,Herr Direktor wunscht Ihnen alles Gute und sch...,Le directeur vous souhaite une santé de fer et...
2,"Das Internet bietet viele Möglichkeiten, um si...",Internet offre de nombreuses possibilités pour...
3,"Mein Chef ist sehr anspruchsvoll, aber ich res...","Mon patron est très exigeant, mais je respecte..."
4,Das Lesen von Büchern über verschiedene Kultur...,La lecture de livres sur différentes cultures ...

In [21]:
df_C.to_csv('df_C.csv', encoding='utf-8', index=False)